@keyframes load8 {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#close{
	text-align:center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100;Shape+2+Style */
	background: rgb(224,243,250); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */

	border:1px solid white;
	font-size:1.7em;
	cursor:pointer;
}
#window_large{
  	z-index:101010;
  	position:absolute;
  	top:1%;
  	left:26%;
  	width:50%;
	max-width:640px;
	height:700px;
	max-height:700px;
  	margin:0 auto 10% auto;
  	border:1px solid rgba(0,0,0,0.5);
	background-color:#fff;
  	background-image:url(http://blackphobos.com/wp-content/uploads/2015/11/winter_tree.png);
	background-position:bottom right;
  	background-repeat:no-repeat;
  	box-shadow:0px 5px 20px rgba(0,0,0,0.4);
  	text-align:center;
  	font-family:'Brush Script MS',cursive,handwriting,'Lucida Handwriting';
}
@media only screen and (max-width: 640px)  {

	#window_large{
		top:0;
		left:0;
		height:auto !important;
		width:96%;
		padding:3%;
		max-width:96%;
		max-height:auto !important;
		overflow-y:auto !important;
  	}
	#window_message{
		padding:10px !important;
		overflow-y:hidden !important;
		height:auto !important;
	}
}
#window_message{
	background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position:fixed;
	overflow-y:auto;
	padding:80px;
	min-height:500px;
	height:520px;
}

#css_wrapper{
	z-index:1983;
	border:1px solid rgba(0,0,0,0.2);
	padding:10px;
	font-family:Consolas,Monospace,'Lucida Console',fixedwidth;
	font-size:13.5px;
	line-height:1.6em;
	background-color:#ffffff;
	color:#344;
	width:90%;
	height:500px;
	position:absolute;
	top:5%;
	left:5%;
}
#instructions{
	max-width:390px;
	background-color:white;
	padding:10px;
	border:1px solid rgba(0,0,0,0.2);
	float:right;
	margin:15px 10px 15px 10px;
}
#calendar_controls{display:none;float:left;max-width:800px;}
#calendar_controls label,
#calendar_controls input[type="button"],
#calendar_controls input[type="submit"],
#calendar_controls input[type="number"],
#calendar_controls input[type="email"],
#calendar_controls input[type="color"],
#calendar_controls input[type="text"],
#calendar_controls select{
box-sizing:content-box;
text-align:center;
padding:0px;
margin:3px;
width:110px;
height:30px;
font-size:12px;
line-height:30px;
border:1px solid rgba(0,0,0,0.2);
border-radius:3px;
float:left;
}
.door-text{
margin:10px;text-align:center;
font-size:1.7em;
}
#calendar_controls input[type="button"],
#css_close{
	text-align:center;
	cursor:pointer;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.56) 10%, rgba(0,0,0,0.32) 49%, rgba(0,0,0,0.29) 53%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.56) 10%,rgba(0,0,0,0.32) 49%,rgba(0,0,0,0.29) 53%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.56) 10%,rgba(0,0,0,0.32) 49%,rgba(0,0,0,0.29) 53%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#calendar_controls input[type="button"]:hover{
	text-shadow:1px 1px 9px white;
}
#calendar_controls input[value="Save"]{
	background-color:#070;
	color:white;
}
#calendar_controls input[value="Restore"]{
	background-color:#3C6D63;
	color:white;
}
#calendar_controls label{
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	color:#000;
	text-shadow:-1px 0px 2px #fff;	
}
#calendar_controls hr{clear:both;height:0px;margin:0px;border-top:none;border-bottom:none;}
table{border-collapse:collapse;width:100%;}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 100, 255, 0.2);
  border-right: 1.1em solid rgba(0, 100, 255, 0.2);
  border-bottom: 1.1em solid rgba(0, 100, 255, 0.2);
  border-left: 1.1em solid rgba(0,0,0,0.6);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
