/**
 * Custom CSS
 * Edit at own risk!
*/
#instructions{margin-top:-145px;}
#close{
color:white;
font-size:15px;
padding:3px;
font-family:Helvetica,Tahoma,sans-serif;
background: rgb(37,141,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.info-wrap {
    border-radius: 0%;
    perspective: 800px;
    transition: all 0.4s ease-in-out;
}
.info {
    position: absolute;
    transform-origin: 0% 0%;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;
}
.info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.info .info-back {
	transform: rotate3d(0, 1, 0, 180deg);
	color:#d3d3d2;
	text-align:center;
	z-index:1;
	box-shadow: 1px 4px 11px rgba(0, 0, 7, 0.4);
    border:1px solid rgba(0,0,0,0.4);
}
.item:focus .info-wrap {
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8);
	background-color:#700;
}
.item:focus .info {
    transform: rotate3d(0, 1, 0, -100deg);
}

.item {
	border-radius: 0%;
	position: relative;
	cursor: default;
	float:left;
}
.info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0 15px;
    padding: 40px 0 0 0;
    height: 90px;
    font-family:Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
:focus {outline:none;}
#canvas{ 
	/** 
	 * This is the main calendar area. 
	*/
	margin:20px 0 0 0;
	clear:left;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:7px;
	box-shadow:1px 26px 30px rgba(0,0,0,0.3);
	background-position:top left;
	background-repeat:no-repeat;
	display:none;
}
.info-front{
	background-repeat:no-repeat;
	font-size:65px;
	text-align:center;
	color:rgba(255,255,255,0.8);
        text-shadow:0 0 2px black;
	font-family:arial,sans-serif;
}
.stitched_element {
    border: 1px dashed rgba(255,255,255,0.3);
    border-radius: 0;
}
.greeting{ 
        background-repeat:no-repeat;
	background-size:50%;
        background-position:center center;
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);
	cursor:pointer;
	position:absolute;
	text-align:center;
	width:100%;
	height:100%;
	margin:0;
	color:white;
	display:block;
	font-family:'Comic Sans MS',comic,sans-serif;
}
.door-text{
	margin:10px;text-align:center;
	font-size:1.7em;
}
